*{
  box-sizing:border-box;
}
html{
  margin:0;
  padding:0;
}
body{
  font-family: 'Lato', Arial, sans-serif;
  font-size:1.2rem;
  font-weight:lighter;
  line-height:1.5;
  background:#141155;
  color:#fff;
  margin:0px;
  padding:0px;
  position:relative;
  min-height:100vh;
}
h1{
  text-align:center;
  font-size:3.7rem;
  /*margin-bottom:2em;*/
}
.get-this{
  display: flex;
  justify-content: space-between;
}
.get-this img{
  max-height: 200px;
}
.get-this .code{
  flex-grow: 1;
  margin-right: 50px;
  align-self: center;
}
.get-link{
  text-align: center;
  font-size: 2em;
}
.presentedby{
  display:block;
  font-size:2rem;
  font-weight:normal;
  margin-top: 2em;
}
h2{
  display:block;
  border-bottom:1px solid white;
  margin-bottom:2em;
}
a{
  color:#fff;
}
a:hover, a:focus{
  color:#ccc;
}
a:focus, button:focus{
  outline-color:#E57459;
  outline-style:solid;
  outline-offset: 2px;
  outline-width: 3px;
}
section{
  max-width:1200px;
  margin:0 auto;
  padding:40px;
  font-size:1.2em;
  letter-spacing:0.02rem;
  min-height:100vh;
  position:relative;
}
p{
  margin:1.2rem 0;
}
li{
  margin:1.2rem 0;
}
.si-logo{
  margin: 60px 0 40px 0;
  text-align: center;
}
.si-logo svg{
  max-height: 3em;
}
#introduction .si-logo{
  text-align: left;
  margin: 0 0 20px 0;
}
#introduction .si-logo svg{
  max-height: 2rem;
  margin: 0;

}
.missing-content{
  display:block;
  border:3px dashed #9ACAE3;
  background:#0e1a2e;
  min-height:3.8rem;
  border-radius:10px;
  margin:0px 0px 10px 0px;
  padding:10px;
}
#demo4Content.missing-content, #demo5Content.missing-content{
  min-width:150px;
}
.next-button{
  display:block;
  position:absolute;
  bottom:0;
  left:1050px;
}
.instruction-text{
  font-size:1rem;
}
.columns .instruction-text{
  padding:10px;
  border-right:1px solid #999;
  border-left:1px solid #999;
}
@media screen and (max-width:1050px){
  .next-button{
    left:auto;
    right:10px;
  }
}
.code{
  font-family: 'Inconsolata', monospace;
  background:#111;
  border-radius: 5px;
  padding:5px;
  border-bottom: 2px solid #9ACAE3;
  border-right: 2px solid #9ACAE3;
  border-top: 1px dashed #115E81;
  border-left: 1px dashed #115E81;
}
.underlined{
  text-decoration:underline;
}
.hidden {
  display:none;
}
button{
  padding:20px;
  margin:40px;
  cursor:pointer;
  font-size:1rem;
  border-radius:4px;
  background:#f5f5f5;
  border: none;
}
button:hover, button:focus{
  background:#aaa;
}
/* Demo 6 CSS */
button.hover-effect:hover, button.hover-effect:focus{
  transform:scale(1.2);
}
button.hover-effect:hover + .showMe p, button.hover-effect:focus + .showMe p{
  display:block;
}
/**/
#demo8Button{
  align-self: flex-start;
  height: 9em;
}
.demo-stage{
  margin:10px 0;
  position:relative;
}
.columns{
  display:flex;
  flex-direction:row;
}
pre{
  display:block;
  flex-shrink:0;
  position:relative;
  background:#111;
  border-bottom: 3px solid #9ACAE3;
  border-right: 3px solid #9ACAE3;
  border-top: 2px solid #115E81;
  border-left: 2px solid #115E81;
  padding:15px;
  font-size:1.1rem;
  overflow-x:auto;
  white-space:pre-wrap;
  word-wrap:break-word;
  box-shadow: 5px 10px 10px rgba(0,0,0,.3);
}
.demo-buttons{
  min-width:50%;
  padding:15px;
}
.demo-buttons p{
  margin:0px;
}
.annoying{
  position:absolute;
  left:0px;
}
#demo8Content{
  min-height:70vh;
  flex-basis:50%;
  flex-grow:1;
  position:relative;
}
#questions h2{
  border:none;
  margin-top:20vh;
  text-align:center;
  font-size:5rem;
}
.log-container{
  display: flex;
}
.log-container button{
  align-self: flex-end;
}
#demo4Content, #demo5Content{
  display:inline-block;
  margin-top:40px;
  padding: 20px;
}
#demo4Content p, #demo5Content p{
  margin:0px;
  font-size:1.2rem;
}
footer{
  padding:20px;
  font-size:1rem;
}
footer a{
  word-break:break-all;
}
.sr-only{
  height:1px;
  width:1px;
  position:absolute;
  left:-9999em;
  line-height:0;
  clip:rect(0,0,0,0);
}

/*Syntax highlighting */
.sx-el{
  color:#f56af5;
}
.sx-fun{
  color:#9ec0fa;
}
.sx-met{
  color:yellow;
}
.sx-prop{
  color:#35f1ff;
}

/* Mobile responsive */
@media screen and (max-width: 600px){
  h1{
    font-size:3rem;
  }
  .get-this{
    flex-direction: column;
  }
  .get-this img{
    display: none;
  }
  section{
    padding:20px;
  }
  ul{
  }
  button{
    margin: 20px 0;
  }
  .code{
    word-wrap:break-word;
  }
  .demo-stage{
    margin:0px;
  }
  .columns{
    flex-direction:column;
  }
  footer .si-logo svg{
    max-height: 2rem;
  }
  #demo4Content, #demo5Content{
    float:none;
    clear:both;
    display:block;
    margin-top:0px;
  }
}